@import '/css/normalize.css';
@import '/fonts/fonts.css';

body{

    font-family:'PalatinoLinotype-Bold', Sans-Serif;
    font-size: 1.4rem;
    color: #666666;
}
img{
    max-width: 100%;
}
figure{
    margin: 0;
    padding: 0;
}
body > header {
    width: 100%;
    text-align: center;
    background-color: #505050;
    padding: 2rem 0;
}
body > header > figure > img{
    /* max-width: 50%; */
}

 section{
    width: 80%;
    padding: 10% 10%;
    max-width: 1000px;
    margin: 0 auto;
}
.negro{
    color: #525050;
}
h1{
    font-size: 3rem;

}

    .contenedor1{
       display: flex;
       flex-direction: column-reverse;
}

.seccion-instrucciones h1{
    text-align: center;
    display: block;
  }
.seccion-instrucciones article ol{
    display: flex;
}
.precio{
    font-size: 3rem;
}
dl {
    display: flex;
    flex-direction: row;
}
.bloque{
    display: flex;
    flex-direction: row;
}
dl .bloque dd:nth-child(2){
    margin-right: 2rem;
}
button{
    background-color: #00a7db;
    color: white;
    border-style: none;
    padding: 1rem 2rem;
    width: 100%;
    box-shadow: #00a7db;
}
button:hover{
    color: #00a7db;
    background-color: white;
    border: solid;
}

.enmarcada{
    border: 2px solid #525050;
    display: inline-block;
    padding: 0.6rem 4rem;
}

.seccion-instrucciones{
    padding-top: 2%;
}
.seccion-instrucciones .enmarcado2{
    background-color: white;
    border: 2px solid #666666;
    color: #505050;
}

ol{
    display: flex;
    flex-direction: column;
}
ol li{
    display: flex;
}

ol li p{
    flex-basis: 35%;
}

.pasos{
    font-size: 4rem;
    display: inline-block;
    padding: 4rem 0;
}
.seccion-instrucciones .liespecial .pasos{
    text-align: center;
    width: 100%;
    padding: 1rem 0;
}

.seccion-instrucciones .liespecial p{
width: 80%;
margin: 0 auto;
padding: 0;
text-align: center;
}  

@media (min-width:800px){
body{
    font-size: 1.3rem;
}
h1{
    font-size: 2rem;
}
.precio{
    font-size: 2rem;
}
    section{
        width: 90%;
        padding: 5% 5%;
        max-width: 1200px;
    }
    .contenedor1{
        display: flex;
        flex-direction:row-reverse;
     }
     .contenedor1 >*{
         box-sizing: border-box;
         /* width: 70%;  */
     }
     .contenedor1 .hijo:first-child{
         padding-left: 1rem;
         width: 30%;
     }
     .contenedor1  .hijo:nth-child(2){
         width: 70%;
     }
     .hijo h1{
         margin-top: 0;
     }
     dl {
        display: flex;
        flex-direction: column;
    }
    dl .bloque:first-child{
        margin-bottom: 0.6rem;
    }
    .contenedor1 .descripcion{
        font-size: 1.5rem;
    }
    .enmarcada {
        padding: 0.6rem 2rem;
    }
.seccion-instrucciones header{
    text-align: center;
}
.seccion-instrucciones{
    font-size: 1.8rem;
}
    .seccion-instrucciones  .enmarcado2{
        display: inline-block;
        padding: 0.5rem 2rem;
        margin: 0 auto 1rem auto;

    }
    ol li figure{
        margin: 0;
        padding: 0;
        flex-basis: 60%;
    }
    ol li p{
        flex-basis: 30%;
    }
} 